body {
  background-color: rgb(229, 243, 248);
}
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;

}
table{
  width: 90%;
  height: 20%;
  max-width: 900px;
}


.angol:hover   { background-color: #afafaf; }
.tesi:hover    { background-color: #fae88d; }
.tori:hover    { background-color: #f3c028; }
.matek:hover   { background-color: #61a1f0; }
.fizika:hover  { background-color: #98fe79; }  
.irod:hover    { background-color: #cf954a; }  
.magyar:hover  { background-color: #f5c6cb; }
.sz_angol:hover { background-color: #b8daff; }
.asztfejl:hover { background-color: #81b2bb; }
.ab_kez:hover   { background-color: #f7aa8d; }
.webprg:hover  { background-color: #c3e6cb; }
.ikt:hover     { background-color: #8dee98; }
.of:hover      { background-color: #ffecd1; }

.delutan {
  background-color: #ceedf6;
}
.nap{
  background-color: #a2ffeb;
}
.ora{
  background-color: #a1ffee;
}
.delutan:hover{
  background-color: white;
}
