body {
  background-color: rgb(229, 243, 248);
}
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;

}
table{
  width: 90%;
  height: 20%;
  max-width: 900px;
}

.angol   { background-color: #afafaf; }
.tesi    { background-color: #fae88d; }
.tori    { background-color: #f3c028; }
.matek   { background-color: #61a1f0; }
.fizika  { background-color: #98fe79; }  
.irod    { background-color: #cf954a; }  
.magyar  { background-color: #f5c6cb; }
.sz_angol { background-color: #b8daff; }
.asztfejl{ background-color: #81b2bb; }
.ab_kez   { background-color: #f7aa8d; }
.webprg  { background-color: #c3e6cb; }
.ikt     { background-color: #8dee98; }
.of      { background-color: #ffecd1; }

.delutan {
  background-color: #f4a5f4;
}
.nap{
  background-color: #a2ffeb;
}
.ora{
  background-color: #a1ffee;
}
